.banner {
    position: relative;
    height: 60vh;
    width: 100%;
    overflow: hidden; /* hiding inactive slideshow images */
    border-radius: 50px 50px 0px 0px;
}

    .banner h1 {
        /* text styling */
        font-size: 3.5vw;
        color: #ffffff;
        text-shadow: 1px 2px #4A4E69;

        /* on top of slideshow */
        position: absolute;

        /* align to centre */
        left: 0;
        right: 0;
        top: 45%;
        margin-left: auto;
        margin-right: auto;
        width: max-content;

        /* in front of the slideshow */
        z-index: 1;
    }

    .slides {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        width: max-content;
        transition: 1.2s;
    }
    
        .slides img {
            width: 98vw; /* same as the banner width */
            height: 100%;
            object-fit: cover;

            /* behind the heading*/
            z-index: -1;
        }
        
    .buttons { /* manual nav buttons */
        position: absolute;
        top: 45%;
        left: 4%;
        width: 92%;
        display: flex;
        justify-content: space-between;
        z-index: 2;
    }
    
        .buttons button {
            width: 30px;
            height: 50px;
            border: none;
            border-radius: 5px;
            background-color: #fff5;
            color: #fff;
        }

        .buttons button:hover {
            background-color: rgba(255, 255, 255, 0.6);
        }

        
.blocks {
    position: relative;
    display: flex;
    margin-top: -14vh; /* negative margin to overlap */
    justify-content: space-evenly;
    z-index: 2;
}

    .block {
        /* dimension */
        width: 21vw;
        height: 14vw;

        /* text position */
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: #ffffff;
        
        /* border styling */
        border: 1px solid;
        border-radius: 25px;

        cursor: pointer;
    }

    .block:hover {
        box-shadow: 0px 0px 5px #4A4E69;
    }

    .block:hover h1, .block:hover p {
        background-size: 2%;
    }

        /* block text styling */
        .block h1 {
            font-size: 8vw;
            font-weight: 600;
            letter-spacing: 0.6vw;
            margin-bottom: -10px;
        }

        .block p {
            font-size: 2vw;
            letter-spacing: 0.1vw;
        }

        .block h1, .block p {         
            background: linear-gradient(120deg, #22223B -70%, #4A4E69 -25%, #9A8C98 32%, #C9ADA7 83%, rgba(242, 233, 228, 0.6) 140%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }


.summary {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 150px 100px 150px;
    font-size: 110%;
    color: #4A4E69;
}

    /* summary text styling */
    .summary p {
        width: 42vw;
        font-size: 1.1vw;
    }

        .summary .text-left p {
            width: fit-content;
            font-size: 1.1vw;
        }

        .summary .text-left h2 {
            font-size: 2.5vw;
        }

    .summary .vr { /* vertical divider */
        border-right: 2px solid #4A4E69;
        height: 15vh;
        margin: 0 70px 0 70px;
    }
